{% extends "base.html.twig" %}

{% block title  %}
	Création d'une catégorie
{% endblock %}
{% block body %}
	<h1>Créer une catégorie</h1>

	{{form_start(formView) }}
	{{form_errors(formView) }}


	{{form_widget(formView.name)}}

	<button type="submit" class="btn btn-primary mt-2">
		<i class="fas fa-save mx-2"></i>
		Création Catégorie</button>
	{{form_end(formView)}}
{% endblock %}
